@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url("../fonts/HelveticaNeue-UltraLight.ttf");
    /* EOT file for IE */
}

body {
    background-color: black;
    color: #fff;
    font-family: 'HelveticaNeue-UltraLight', 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

h1 {
    font-size: 120px;
}

dt {
    font-weight: 600;
}

/* Colors */
.light-grey {
    color: #ccc;
}

.grey {
    color: #999;
}

.top-left {
    float: left;
}

.date {
    font-size: 42px;
}

.time {
    font-size: 110px;
}

.top-right {
    float: right;
}

.middle-center {
    display: flex;
    flex: 1;
    align-items: stretch;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.bottom-center {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.bottom-left, .bottom-right {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 50px;
    width: 50%;
}

.bottom-left {
    left: 20px;
}

.bottom-right {
    right: 20px;
}
